[[Unit]
Description=AstroPi Cube Initialization

[Service]
Type=forking
ExecStart=/opt/astropi-cube/scripts/startup/astropicube.sh

[Install]
WantedBy=multi-user.target